body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: #3e4247;
  background-color: #eaebf0;
  background-image: url(img/background.png);
  background-size: 20px 10px;
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
}

/**.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ffffff;
}**/

.header {
  background: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  height: 24px;
  margin: 1px 0px -3px 1px
}

.header-navbar {
  display: block;
}

.header-navbar__link {
  display: inline-block;
  padding-left: 1.75rem;
  font-size: 16px;
  line-height: 1.0;
  color: #3e4247;
  text-decoration: none;
}

.header-navbar__link:last-child {
  margin-right: 0;
}

.hero {
  padding: 4.8rem 0;
  text-align: center;
  background-color: #161616;
}

.hero-logo {
  height: 131px;
  margin: 2px 0 -2px 0;
}

.main-content {
  padding-top: 4.2rem;
  padding-bottom: 3rem;
}

.main-article__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #3e4247;
}

.main-article__text {
  margin: 0.9em 0 1em;
  line-height: 1.5;
}

.submit-request {
  padding: 0.75rem 2rem;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.main-article {
  margin: 0 0 4em;
}

.object-card {
  margin: 1.4em 0.5em 2.9em;
  display: flex;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom: 2px solid #646971;
  cursor: pointer;
}

.object-card:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.object-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.object-card__content {
  padding: 1.5rem 2rem;
}

.object-card__location {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: 'Monaco', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  color: #646971;
}

.object-card__address {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #000000;
}

.object-card__description {
  font-family: 'FiraSans', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #3e4247;
  line-height: 1.5em;
  margin: 0.7em 0;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 14px;
  font-weight: 300;
  background-color: #111111;
  color: #a9afb6;
}

.footer-container {
  padding: 0 0.7em;
}

.footer-title {
  margin: 0.1rem 0;
  font-size: 14px;
	font-weight: bold;
	color: #646971;
}

.footer-text {
  margin: 1em 0;
}

.last-item {
  margin: 1.5em 0;
}

.footer-link a {
  color: #ffffff;
  text-decoration: none;
}

.footer-link-last-company {
  margin: 1.0em 0;
}

.footer-navbar {
  border-top: 2px solid #3e4247;
  padding-top: 1rem;
}

.footer-text__legals {
  margin: 4.7rem 0 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.7;
  color: #a9afb6;
}
